@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "~normalize.css";

/* SASS and Global'ish Stuff */
// @import "base/fonts.scss";
@import "base/variables.scss";
@import "base/baseline.scss";
@import "base/grid.scss";

/*COMPONENTS*/
@import "general/components/header.scss";
@import "general/components/footer.scss";

@import "landings/coffee-tweak2-main.scss";
