.article-block {
    &__container {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    h2 {
        padding-top: 35px;
        padding-bottom: 10px;
    }

    img {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    P {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    a {
        color: #2a54c9;
    }
}