.article-block {
    &__container {
        padding-top: 80px;
        padding-bottom: 70px;

        @media screen and (max-width: $max-tablet-width) {
            padding-top: 60px;
            padding-bottom: 50px;
        }

        @media screen and (max-width: $max-mobile-width) {
            padding-top: 20px;
            padding-bottom: 30px;
        }
    }

    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
        max-width: 100%;
        text-align: center;
    }

    h2 {
        padding-top: 35px;
        padding-bottom: 10px;
    }

    img {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    P {
        padding-top: 15px;
        padding-bottom: 20px;

        @media screen and (max-width: $max-tablet-width) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @media screen and (max-width: $max-mobile-width) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    a {
        color: #2a54c9;
    }
}