
.header {
	// position: fixed;
	// z-index: 10000;
	padding-top: 25px;
	padding-bottom: 25px;
	height: 60px;
	width: 100%;
	background: $mainBG;
	color: $white;
	display: flex;
	align-items: center;

	// @media screen and (max-width: $max-tablet-width) {
	// 	background: none;
	// }

	&__container {
		width: 100%;
	}

	&__nav {
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;
		}

		svg {
			margin-right: 5px;
		}
	}

}
