.main-block {
    // background-image: url('../../assets/images/jpg/main-block-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%, 50%;
    // background: lightgray;
    padding-top: 50px;
	padding-bottom: 25px;

    &__title {
        text-align: center;
        padding: 10px 0;
    }

    &__description {
        text-align: center;
        padding: 10px 0;
    }

    &__img {
        max-width: 300px;

        &-wrap {
            text-align: center;
            padding: 20px 0;
        }
    }

    &__buy {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;

        &-button {
            padding: 15px 30px;
            color: $white;
            border-radius: 4px;
            background: #3db36b;
            display: inline-block;
            font-size: 22px;
            line-height: 140%;
            font-weight: 500;
            color: $white;

            @media screen and (max-width: $max-tablet-width) {
                font-size: 18px;
            }
        
            @media screen and (max-width: $max-mobile-width) {
                font-size: 18px;
                max-width: 100%;
            }

            &:hover {
                background: #38a563;
            }
        }

    }

}    
