
<section class="coffee-tweak1-main">
    <div class="container coffee-tweak1-main__container">

        <h1 class="coffee-tweak1-main__title">
            The <span class="red">"10-Second Coffee Routine"</span> Has Completely 
                Transformed My Life and How I See Food
        </h1>

        <div class="coffee-tweak1-main__info">
            <div class="coffee-tweak1-main__info-img">
                <img class="lazy" data-src="./assets/images/landings/coffee-cheese.jpg" alt="img">
            </div>
            <div class="coffee-tweak1-main__info-text">
                <div class="ccoffee-tweak1-main__info-text-main red">
                    I Already Drink Coffee, So I Do Not Have to Change My Routine
                </div>
                <div class="coffee-tweak1-main__info-text-result">
                    AND I NO LONGER LOOK LIKE THIS
                </div>
                <div  class="coffee-tweak1-main__info-text-look red">
                    <span>👉🏼</span><span>👉🏼</span><span>👉🏼</span>
                </div>
            </div>
            <div class="coffee-tweak1-main__info-picture">
                <img class="lazy" data-src="./assets/images/landings/salon.jpg" alt="img">
            </div>
        </div>

        <article class="coffee-tweak1-main__article">
            <p>
                My mother aged so gracefully...even as a grandmother she was stunning. My husband used to always say, <b>"Want to know what a woman will look like when she is older, look at her mother."</b> I always believed that I would age gracefully, as my mother did, and so did he. Well, one day he just quit saying that.&nbsp;&nbsp;
            </p>
            <p>
                Up until I was forty-five, I maintained my body pretty well. What they don't tell us about turning 40 is that our bodies start to react differently to the food we eat. Forty is when I saw the numbers on the scale start to climb. First, it was just a little but gradually it became a lot. I didn't even really realize it was happening, until one day my mom put on my favorite pair of skinny jeans. I realized I hadn't been able to wear them in years. The simple fact that an 80 year old woman could even wear them was humiliating.😭 I let her have them because who was I kidding....<b>I had completely lost any hope that I would ever fit into them again.</b>
            </p>
            <p>
                One day my grandson told his sister that I needed a Band Aide because my arm hurt. I didn't know what he was talking about until he pointed out the loose skin under my arms flapping back and forth as I waved good bye to his dad. He though the sagging skin was some kind of injury. I had to inform him that those are grandma's bat wings... here is just one of many hurtful comments, that my grandkids would make. I know they didn't know what they were saying, but it still stung.
            </p>
            <p>
                One day my grandson told his sister that I needed a Band Aide because my arm hurt. I didn't know what he was talking about until he pointed out the loose skin under my arms flapping back and forth as I waved good bye to his dad. He though the sagging skin was some kind of injury. I had to inform him that those are grandma's bat wings... here is just one of many hurtful comments, that my grandkids would make. I know they didn't know what they were saying, but it still stung.
            </p>
            <p>
                <b>WHY had I let myself go so much?</b>
            </p>
            <p>
                Once my grandkids started making comments about how big I was, I knew I had to do something. I tried every fad that came along...from Keto to Cross Fit...Name it, I bought it. I can't even add up all the money I spent trying to get my issues under control. Thousands...And with everything I ...I deprived myself of foods I loved...and I was always HUNGRY😡
            </p>
            <p>
                I finally began calling all these eating plans...<b>"Expiration Eating"</b>... Why? Because I knew before I even tried them that they were not going to last. Everyone of them had a very short shelf life...Why? Because I love food plain and simple...
            </p>
            <p>
                Why is it that some people can eat whatever they want and not gain? <b>What kind of body chemistry do they have that I don't have? I had been searching for years for the answer to the question...</b>
            </p>
            <p>
                I just couldn't figure it out...
            </p>
            <p>
                That was until my daughter-in-law Christee, sent me a very loving email about how much she appreciated me and everything I do for the kids. It was so thoughtful, I couldn't help but sob...I knew I could be such a better grandmother if I could actually get up and play with my grandkids. <br>I was reading the email at Starbucks and I couldn't help but start to cry...<b>crying in public...</b>
            </p>
            <p>
                At the bottom of the email, she wrote
            </p>
            <p>
                "P.S. There is no better grandma in the world...oh, by the way, my mom told me to send the attached video, she said it really helped her with her struggles.
            </p>
            <p>
                When I saw the video I thought it would be just like all the others I had seen...<b>but the video she sent one was actually very different.</b> The people in the video were going through the <b>EXACT</b> same struggles I had (even donating all their skinny clothes to a shelter). It helped me understand how I could become one those women with a body chemistry that allowed them to eat the foods they loved without having to shop at Lane Bryant. Like my own mom.
            </p>
            <p>
                Why couldn't I have found the information sooner? I always knew coffee was great for digestion, but I had no idea what else it could do for me...
            </p>
            <p>
                Well, better late than never! Because I now have a closet full of skinny jeans to choose from. <b>My grandson now calls me "Insta Gram"</b><br>
                because he says...<b>"Grandma instantly got skinny!"</b> Insta Gram 🥰 has so much energy than <b>I am sixty-five going on forty-five!</b> I don't recognize myself in the mirror, (I am always looking at myself now). And the best part is my husband is saying that I'm aging gracefully again!
    
            </p>
            <p>
                Being so large and miserable, without hope...was hard...
            </p>
            <p>
                Believing there was actually something that could transform me after everything I tried...was hard...
            </p>
            <p>
                Being still, without distractions, and listening to a video was hard... <b>I chose the video kind of HARD...</b>
            </p>
            <p>
                When people ask me how I did it...<b>I show them the video below</b>⬇...and the rest is history....<b>simple</b>
            </p>
            <p class="coffee-tweak1-main__article-img-wrap">
                <img class="lazy coffee-tweak1-main__article-img" data-src="./assets/images/landings/bridge.jpg" alt="img">
                <span class="bold">Before you watch the video, I sincerely ask that...</span>
            </p>
            <p>
                ✔️  
                <span class="bold">
                    ​Please share the video with only those who will really benefit from it the most.
                </span>
            </p>
            <p>
                ✔️  
                <span class="bold">
                    ​Please use these tips in a responsible manner; Losing too fast is not healthy for the body. So use this 30 Second Morning Routine in moderation, to get to where you want to be in a healthy, safe and sustainable manner.
                </span>
            </p>
            <p>
                ✔️  
                <span class="bold">
                    Enjoy the transformation...
                </span>
            </p>
            <p class="coffee-tweak1-main__article-img-wrap">
                <img class="lazy coffee-tweak1-main__article-img" data-src="./assets/images/landings/JULIA.jpg" alt="img">
            </p>

            <div class="coffee-tweak1-main__buy">
                <a class="coffee-tweak1-main__buy-button link" data-link="true" href="https://www.onliner.by/">TAP TO WATCH 10 SECOND COFFEE ROUTINE NOW</a>
            </div>

        </article>


    </div>    


</section>