<!-- Footer Start -->

<footer class="footer">

  <div class="container footer__container">
    <div class="footer__info-wrap">
      <div class="footer__info-policy">
        <a class="link" href="./privacy-policy.html" target="_blank">Privacy policy</a>
      </div>
      <div class="footer__info-text">
        This site is not a part of the Facebook website or Facebook Inc.
        Additionally, this site is NOT endorsed by Facebook in any way.
        FACEBOOK is a trademark of FACEBOOK, Inc.
      </div>
      <div class="footer__info-copyright">
        Copyright © <script>document.write(new Date().getFullYear())</script>&nbsp; All Rights Reserved. 
      </div>
    </div>

    <div class="footer__info-warning-wrap">
      <div class="footer__info-warning">
        <span>FDA Compliance</span><br>
        The information on this website has not been evaluated by the Food & Drug Administration or any other medical body. We do not aim to diagnose, treat, cure or prevent any illness or disease. Information is shared for educational purposes only. You should always consult your doctor before acting on any content on this website, especially if you are pregnant, nursing, taking medication or have a medical condition
      </div>
    </div>
    
  </div>
  
</footer>
