
<section class="main-block">
    <div class="container main-block__container">

        <div class="main-block__top-wrap">
            <div class="main-block__top-img">
                <img class="lazy" data-src="./assets/images/Orange.png" alt="img">
            </div>
            <div class="main-block__top-info">

                <div class="main-block__top-info-description-wrap">
                    <div class="main-block__top-info-description">
                        <h1 class="main-block__title">
                            Join Me on a Journey of Simple Health and Long Lasting Happiness!
                        </h1>
                        <img class="lazy" data-src="./assets/images/profile1.jpg" alt="img">
                    </div>
                    <div class="main-block__top-info-sign">
                        <i>Lana S.</i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-block__list">
            <div class="main-block__list-item">
                <a href="./article01.html">
                    <img class="lazy" data-src="./assets/images/articles/picture01.jpg" alt="img">
                </a>
                <h2>
                    6 Facts You Might Not Know About Almonds
                </h2>
                <p>
                    The almonds are probably part of the list of the 50 healthiest foods of all time, writes the Huffington Post...
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="./article02.html">
                    <img class="lazy" data-src="./assets/images/articles/picture02.jpg" alt="img">
                </a>
                <h2>
                    How Many Servings of Vegetables Do You Actually Need Per Day?
                </h2>
                <p>
                    You likely know that a diet rich in fruits and vegetables is beneficial for your health...
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="./article03.html">
                    <img class="lazy" data-src="./assets/images/articles/picture04.jpg" alt="img">
                </a>
                <h2>
                    Tea vs Coffee: The Health Debate
                </h2>
                <p>
                    Most start their day with a hearty cup of coffee while some cannot do without their cup of tea...
                </p>
            </div>
            
        </div>
    </div>
    <!-- <div class="main-block__buy">
        <a class="main-block__buy-button link" data-link="true" href="https://hop.clickbank.net/?vendor=javaburn&affiliate=lanabel&lid=3">test</a>
    </div> -->
</section>