
<section class="main-block">
    <div class="container main-block__container">

        <div class="main-block__top-wrap">
            <div class="main-block__top-img">
                <img class="lazy" data-src="../assets/images/Orange.png" alt="img">
            </div>
            <div class="main-block__top-info">
                <!-- <div class="main-block__top-info-logo">
                    <img class="lazy" data-src="../assets/images/Plain-Vanilla-Wellness.png" alt="img">
                </div> -->
                <div class="main-block__top-info-description-wrap">
                    <div class="main-block__top-info-description">
                        <h1 class="main-block__title">
                            Join Me on a Journey of Simple Health and Long Lasting Happiness!
                        </h1>
                        <img class="lazy" data-src="../assets/images/profile.png" alt="img">
                    </div>
                    <div class="main-block__top-info-sign">
                        <i>Lucy P.</i>
                    </div>
                </div>
            </div>
        </div>
        
            <a class="main-block__img-buy link" data-link="true" href="https://www.onliner.by/">
                
            </a>
        <div class="main-block__list">
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/1.png" alt="img">
                </a>
                <h2>
                    9 Physical Wellness Aspects You Should Be Paying Attention To
                </h2>
                <p>
                    Diet, Physical Activity, Sleep, Hygiene, Leisure, Avoidance of Harmful Substances and Injuries, Regular Medical, Examinations and Self-Management are the main areas of wellness.
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/2.png" alt="img">
                </a>
                <h2>
                    How To Make Healthy Eating a Lifestyle
                </h2>
                <p>
                    Here's our Healthy Eating Program in Real Life. How to make it sustainable and enjoyable at the same time.
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/3.png" alt="img">
                </a>
                <h2>
                    Good Food vs. Bad Food: Why You Should Stop Labeling Foods This Way
                </h2>
                <p>
                    The “good food vs bad food” mindset is doing much more harm than good in the long term of creating balanced eating habits. Here’s why.
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/4.png" alt="img">
                </a>
                <h2>
                    4 Causes of Knee Pain and 6 Exercises to Help Reduce that Pain
                </h2>
                <p>
                    The following exercises can strengthen the hips and thighs, specifically the glutes, adductors, hamstrings and quadriceps muscles, which control the motion of the hips and knees.
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/5.png" alt="img">
                </a>
                <h2>
                    12 Proven Health Benefits of Avocado
                </h2>
                <p>
                    Scientific Research and studies show proves these 12 powerful health benefits of eating avocado, which is a unique fruit high in healthy fats.
                </p>
            </div>
            <div class="main-block__list-item">
                <a href="#">
                    <img class="lazy" data-src="../assets/images/6.png" alt="img">
                </a>
                <h2>
                    Physical Activity Guidelines for Americans
                </h2>
                <p>
                    Physical activity is key to improving the health of the nation.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="main-block__buy">
        <a class="main-block__buy-button link" data-link="true" href="https://www.onliner.by/">Немедленно купить сиськи!!!</a>
    </div> -->
</section>