
<section class="main-block">
    <div class="container main-block__container">
        <h1 class="main-block__title">
            Лучшие силиконовые сиськи у нас!!!
        </h1>
        <p class="main-block__description">
            Покупайте наши силиконовые сиськи и ваша жизнь мгновенно изменится в лучшую сторону!
        </p>
        <div class="main-block__img-wrap">
            <a class="main-block__img-buy link" data-link="true" href="https://www.onliner.by/">
                <img class="main-block__img lazy" data-src="../assets/images/ezgif.com-resize-3_1534442151.gif" alt="img">
            </a>
        </div>
        <ul class="main-block__list">
            <li>
                Вы будете чувствовать себя более уверенно
            </li>
            <li>
                На вас будут обращать намного больше внимания
            </li>
            <li>
                Вам будут завидовать те, у кого сиськи меньшего размера
            </li>
            <li>
                Вы можете получать в подарок айфоны, украшения, отдых на море и тд.
            </li>
            <li>
                Всегда будете сыты, т.к. вас будут постоянно приглашать в кафе и рестораны
            </li>
        </ul>
    </div>
    <div class="main-block__buy">
        <a class="main-block__buy-button link" data-link="true" href="https://www.onliner.by/">Немедленно купить сиськи!!!</a>
    </div>
</section>