* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Poppins";
	font-weight: 400;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
}

main {
	width: 100%;
	overflow: hidden;
	flex-grow: 1;
	color: $mainText;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;

  @media screen and (max-width: $max-tablet-width) {
    max-width: 500px;
    font-size: 28px;
  }

  @media screen and (max-width: $max-mobile-width) {
    max-width: 500px;
    font-size: 24px;
  }
}

h2 {
	font-weight: 700;
	font-size: 38px;
	line-height: 105%;
  
  
	@media screen and (max-width: $max-tablet-width) {
	  max-width: 500px;
	  font-size: 22px;
	  line-height: 110%;
	}

	@media screen and (max-width: $max-mobile-width) {
		max-width: 500px;
		font-size: 20px;
		line-height: 110%;
	  }
}

p, ul {
	font-size: 22px;
	line-height: 140%;
	font-weight: 300;
	color: $mainText;

	@media screen and (max-width: $max-tablet-width) {
		font-size: 18px;
	}
  
	@media screen and (max-width: $max-mobile-width) {
		font-size: 16px;
	}
}

ul {
	padding-left: 20px;
}

li {
	padding-bottom: 6px;
}

a {
	color: $white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

