
$white: #ffffff;
$mainText: black;
$mainText: red;
$mainBG: rgb(23, 23, 92);

$max-lg-desktop-width: 1910px;
$min-lg-desktop-width: 1367px;
$max-md-desktop-width: 1366.98px;
$min-md-desktop-width: 1200px;
$max-desktop-width: 1199.98px;
$min-desktop-width: 992px;
$max-tablet-width: 991.98px;
$min-tablet-width: 768px;
$max-landscape-width: 767.98px;
$min-landscape-width: 576px;
$max-mobile-width: 575.98px;
$min-mobile-width: 376px;
$max-mobile-mini-width: 375.98px;
$max-i-width: 320px;

