<!doctype html>
<html lang="en">
<head>

<meta name="robots" content="noindex, nofollow">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  <title>Healthy Fit and Happy</title>
  <meta name="description" content="Healthy Fit and Happy.">
  <meta name="keywords" content="Healthy, Fit, Happy"/>

  <meta property="og:title" content="Healthy Fit and Happy"/>
  <meta property="og:image" content="../assets/images/og/img.jpg"/>

</head>

<body>

  <%= require('html-loader!./assets/components/general/header.html') %> <!-- require header -->

  <main class="main">
    
    <%= require('html-loader!./assets/components/general/main-block.html') %> <!-- require main-block -->    

  </main>

  <%= require('html-loader!./assets/components/general/footer.html') %> <!-- require footer -->

</body>
</html>
