
<section class="article-block">
    <div class="container article-block__container">
        <h1 class="article-block__title">
            How Many Servings of Vegetables Do You Actually Need Per Day?
        </h1>
        <img class="lazy article-block__img" data-src="./assets/images/articles/picture03.jpg" alt="img">
        <p class="article-block__paragraph">
            You likely know that a diet rich in fruits and vegetables is beneficial for your health. But do you know this? Only one in 10 U.S. adults actually eats enough fruits and veggies to meet the daily intake recommendations for each of them.
        </p>
        <p class="article-block__paragraph">
            When learning about how many servings of vegetables to eat per day, you first need to understand why these foods are so important. And there are a lot of reasons why this is the case. 
        </p>
        <p class="article-block__paragraph">
            First, research suggests that eating a high amount of fruits and veggies is linked to an overall improved mental wellbeing, specifically higher levels of optimism, a reduced level of psychological distress, and fewer depressive symptoms. Further, eating plenty of fruits and vegetables is associated with a better mood compared to folks who eat fewer fruits and veggies. Getting the recommended amounts of both can also help lower blood pressure. And given that high BP can up your chances of heart disease, it's not surprising to learn that packing your plate with produce can also reduce the risk of heart disease and stroke.
        </p>
        <p class="article-block__paragraph">
            Eating enough of fruits and veggies can lower the odds of developing cancers of the mouth, esophagus, stomach, and lungs — among other types of cancer as well — according to the National Cancer Institute. This is due in part to the fact that produce provides phytonutrients, which boasts antioxidant properties, as well as vitamins A and C, which are antioxidants. (Quick refresher: Antioxidants neutralize free radicals, aka harmful molecules that, in excess, can increase oxidative stress and, in turn, boost risk of chronic conditions such as cancer.) It's also because of these phytonutrients — specifically leutin and zeaxanthin (found in kale, spinach, turnip greens, collard greens, romaine lettuce, broccoli) — that fruits and veggies have been associated with lowering the risk of eye problems, such as cataracts. Take, for example, peaches, which are loaded with leutin and, as such, are known for their eyesight-enhancing benefits.
        </p>
        <p class="article-block__paragraph">
            And need not forget about the fact that fruits and veggies are relatively low in saturated fat, sodium, and sugar — all of which can totally be part of a healthy diet but are best consumed in lower doses.
        </p>
        <p class="article-block__paragraph">
            So How Many Vegetables Should You Eat Per Day? 
        </p>
        <p class="article-block__paragraph">
            The 2020-2025 Dietary Guidelines for Americans recommends 2 1/2 cups of vegetables per day (based on a 2,000-calorie diet).
        </p>
        <p class="article-block__paragraph">
            One cup of vegetables is:
        </p>
        <ul class="article-block__list">
            <li>
                = 1 cup of raw or cooked veggies
            </li>
            <li>
                = 1 cup of frozen or canned veggies
            </li>
            <li>
                = 1 cup of 100-percent vegetable juice without any added sugars
            </li>
            <li>
                = 2 cups of raw, leafy salad greens
            </li>
        </ul>
        <p class="article-block__paragraph">
            For canned vegetables, choose no-salt-added or low-sodium varieties, or be sure to rinse your vegetables before using them. For frozen vegetables, choose those without sauces, butter, or gravy. Make sure to also read the label on vegetable juice, as some have added sugars.
        </p>
        <p class="article-block__paragraph">
            When it comes to getting enough vegetables, it does get a little more complicated. There are five subgroups of vegetables you want to choose from each week in order to get a variety of nutrients. The greater variety of vegetables you take in, the more good-for-you nutrients your body gets which helps keep you healthy.
        </p>
        <ul class="article-block__list">
            <li>
                Dark green vegetables (e.g. kale, spinach): 1 1/2 cups per week
            </li>
            <li>
                Red and orange vegetables (e.g. carrots, red bell peppers): 5 1/2 cups per week
            </li>
            <li>
                Beans, peas, lentils: 1 1/2 cups per week
            </li>
            <li>
                Starchy vegetables (e.g. potatoes, corn): 5 cups per week
            </li>
            <li>
                Other vegetables (e.g. asparagus, cabbage): 4 cups per week
            </li>
        </ul>
        <p class="article-block__paragraph">
            Again, someone with a health condition, such as kidney disease or diabetes, may need to modify the types of vegetables they take in. In this case, best to talk to your doctor and a nutritionist to find out the best types of produce for you and your health.
        </p>
        <p class="article-block__paragraph">
            Now, just because you figured out how many servings of vegetables to eat per day, doesn't mean you're always going to meet those amounts every day. And while you should try not to make a regular habit of not meeting your daily intake recommendations, your diet is really an average of what you eat over a few days. So missing one day and having extra vegetable the next day evens out at the end. And remember: Vegetables have been shown over and over again to have so many health benefits, so don't fall for those diets that tell you to avoid certain vegetables. It's really about balance, and removing healthful food from your diet is the worst thing you can do for your body. 
        </p>

    </div>
</section>