
<section class="article-block">
    <div class="container article-block__container">
        <h1 class="article-block__title">
            6 Facts You Might Not Know About Almonds
        </h1>
        <img class="lazy article-block__img" data-src="./assets/images/articles/picture01.jpg" alt="img">
        <p class="article-block__paragraph">
            The almonds are probably part of the list of the 50 healthiest foods of all time, writes the Huffington Post . This is a snack that can improve your heart health but also has other virtues for our health. 
        </p>
        <p class="article-block__paragraph">
            Here are some surprising facts about almonds: 
        </p>
        <p class="article-block__paragraph">
            1. Almond belongs to the family of peach, rose family. The kernel that looks elsewhere for a little green fishing is the nut of the almond tree, itself belonging to the genus Prunus, which includes more than 200 species of trees and shrubs of the Rosaceae family, the most famous are plum, apricot, peach and cherry trees. 
        </p>
        <p class="article-block__paragraph">
            2. The almond is one of the least caloric dried fruit. A serving of about 30 grams is equivalent to 160 calories as cashews and pistachios, reports Health.com. This is also the dry fruit that has the most calcium. A 30 gram serving contains 9 grams of beneficial monounsaturated fat for the heart, 6 grams of protein and 3.5 grams of fiber. 
        </p>
        <p class="article-block__paragraph">
            3. Almonds are best raw or dry roasted. If on the product packaging containing the word "roasted" or "grilled" is seen it may be that these were roasted almonds in trans fats or other fats equally harmful to health. So be sure to purchase a product made from almonds "raw" or "dry roasted". 
        </p>
        <p class="article-block__paragraph">
            4. Raw almonds are not really raw. In California, two salmonella outbreaks have been linked to raw almonds in 2001 and 2004. Therefore, the USDA, the Department of Agriculture of the United States, decided that Almonds must be pasteurized before being marketed. Several pasteurization methods have been validated by the Food and Drug Administration (FDA, "US Agency for Food and Drug Administration"). 
            You can develop your own almond milk. You just need a few almonds, sugar or sweetener and a food processor. Almonds help your body fight against diseases. According to a 2006 study, a 30 gram serving of almonds contains many polyphenols, antioxidants that help fight against cancer and heart disease
        </p>
        <p class="article-block__paragraph">
            Benefits of soaking almonds
        </p>
        <p class="article-block__paragraph">
            Almonds has tannin a compound which inhibits nutrient absorption. Once the almonds are soaked the tannin is removed allowing the nuts to release nutrients. Soaking and peeling almonds also makes digestion easier. Soaking them also releases the enzyme lipase, which is beneficial for fat digestion.
        </p>
        <p class="article-block__paragraph">
            Other benefits of almonds
        </p>
        <p class="article-block__paragraph">
            Almonds are packed with nutrients and an excellent source of fibre, proteins, Vitamin E, magnesium, manganese, copper, phosphorous...and the list goes on. From weight loss, good bone health, improving your moods, lowering risk of heart diseases, cancer to diabetes, many health studies vouch by the many benefits of a regular consumption of almonds.
        </p>
    </div>
</section>